In [7]:
import pandas as pd
import statistics

In [5]:
data = pd.read_csv("E:/kiran_workspace/Excelr/DS/assignements/Q7.csv")
print(data)

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [7]:
data.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [16]:
print("Points mean = ",data['Points'].mean());
print("Points median = ",data['Points'].median());
print("Points mode = ",statistics.mode(data['Points']));
print("Points variance = ",round(statistics.variance(data['Points']),4));
print("Points std = ",round(data['Points'].std(),4));
print("Points range = ",round(data['Points'].max()-data['Points'].min(),4));

Points mean =  3.5965625000000006
Points median =  3.6950000000000003
Points mode =  3.92
Points variance =  0.2859
Points std =  0.5347
Points range =  2.17

In [10]:
print("Score mean = ",data['Score'].mean());
print("Score median = ",data['Score'].median());
print("Score mode = ",statistics.mode(data['Score']));
print("Score variance = ",round(statistics.variance(data['Score']),4));
print("Score std = ",round(data['Score'].std(),4));
print("Score range = ",round(data['Score'].max()-data['Score'].min(),4));

Score mean =  3.2172499999999995
Score median =  3.325
Score mode =  3.44
Score variance =  0.9574
Score std =  0.9785
Score range =  3.911

In [11]:
print("Weigh mean = ",data['Weigh'].mean());
print("Weigh median = ",data['Weigh'].median());
print("Weigh mode = ",statistics.mode(data['Weigh']));
print("Weigh variance = ",round(statistics.variance(data['Weigh']),4));
print("Weigh std = ",round(data['Weigh'].std(),4));
print("Weigh range = ",round(data['Weigh'].max()-data['Weigh'].min(),4));

Weigh mean =  17.848750000000003
Weigh median =  17.71
Weigh mode =  17.02
Weigh variance =  3.1932
Weigh std =  1.7869
Weigh range =  8.4

# Weigh data is more spreaded as it has larger variance and range